POSTGRES_USER=dozingo_user
POSTGRES_PASSWORD=dozingo_pass
POSTGRES_DB=dozingo

GARAGE_DEFAULT_ACCESS_KEY=GK_LOCAL_DEV_KEY_12345
GARAGE_DEFAULT_SECRET_KEY=LOCAL_DEV_SECRET_PASSWORD_DO_NOT_USE_IN_PROD
GARAGE_DEFAULT_BUCKET=profile-pictures
