/* In this file, we define all of our core components */

/* === Alerts === */
.alert{
    border-radius: var(--radius-md);
    padding: 10px 15px;
    margin: 10px 0;
}
.alert-success{
    background-color: var(--color-success-bg);
    color: var(--color-success-text);
}
.alert-warning{
    background-color: var(--color-warning-bg);
    color: var(--color-warning-text);
}
.alert-danger{
    background-color: var(--color-danger-bg);
    color: var(--color-danger-text);
}

/* === Buttons === */
.btn, button{
    text-decoration: none;
    padding: 8px 12px;
    border-radius: var(--radius-sm);
    font-size: inherit;
    display: inline-block;
    outline: none;
    border: none;
}
.btn-primary{
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
}
.btn-primary:hover{
    text-decoration: none;
    background-color: var(--btn-primary-hover);
}
.btn-secondary{
    background-color: var(--color-primary-200);
    color: var(--color-primary-800);
}
.btn-secondary:hover{
    text-decoration: none;
    background-color: color-mix(in srgb, var(--color-primary-200) 90%, #000);
}
.btn-success{
    background-color: var(--color-accent-green);
    color: var(--btn-primary-text);
}
.btn-success:hover{
    text-decoration: none;
    background-color: color-mix(in srgb, var(--color-accent-green) 80%, #000);
}
.btn-warning{
    background-color: var(--color-accent-yellow);
    color: var(--btn-primary-text);
}
.btn-warning:hover{
    text-decoration: none;
    background-color: color-mix(in srgb, var(--color-accent-yellow) 80%, #000);
}
.btn-danger{
    background-color: var(--color-accent-red);
    color: var(--btn-primary-text);
}
.btn-danger:hover{
    text-decoration: none;
    background-color: color-mix(in srgb, var(--color-accent-red) 80%, #000);
}

/* === Cards === */
.card{
    border-radius: var(--radius-lg);
    background-color: var(--card-bg);
    padding: 20px;
}


/* === Dropdown === */
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown .dropdown-button{
    padding-right: 30px;
    position: relative;
}
.dropdown .dropdown-button::after{
    position: absolute;
    top: 23%;
    right: 10px;
    content: "▼";
}
.dropdown .dropdown-menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--color-primary-200);
    list-style-type: none;
    padding: 5px 0;
    border-radius: var(--radius-sm);
}
.dropdown .dropdown-menu li{
    padding: 4px 20px;
    border-top: 1px solid var(--color-primary-100);
}
.dropdown .dropdown-menu li:last-of-type{
    padding: 4px 20px;
    border-bottom: 1px solid var(--color-primary-100);
}
.dropdown:hover .dropdown-menu{
    display: block;
}